*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #548687;
    text-align: center;
}
h1
{
    font-size: 3rem;
}
.contener
{
    height: 500px;
display: flex;
margin-top: 0px;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}
.game
{
height: 60vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}
.box
{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: rgb(128, 10, 10);
}
#Reset-btn
{
   padding: 1rem;
   font-size: 1.25rem;
   background-color: #191913;
   color: white;
   border-radius: 1rem;
   border: none;
}

#new-btn
{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: rgb(249, 242, 242);
    text-decoration: none;
    border-radius: 1rem;
    border: none;
}
#msg
{
    color: aliceblue;
    font-size: 80px;
}
.msg-container
{
   height: 100px;
   text-align: center;

}
.hide
{
   position: absolute;
}




/*    #Reset-btn
{
   padding: 1rem;
   font-size: 1.25rem;
   background-color: #191913;
   color: white;
   border-radius: 1rem;
   border: none;
   margin-left: 160px;
}

#new-btn
{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
   margin-top: 546px; 
   margin-left: 590px;
}
   
*/